@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.none-display {
    display: none !important;
}

body {
    background-color: black;
    margin: 0;
}

#canvasCover {
    display: inline-block;
    position: relative;
    height: 576px;
    overflow: hidden;
}

.flashAnimation {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: screenFlash;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.4, .97, .91, .75);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes screenFlash {

    0%,
    10%,
    20%,
    40% {
        opacity: 1;
    }

    5%,
    15%,
    25%,
    100% {
        opacity: 0;
    }
}

.fadeInAnimation {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOutAnimation {
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}


#attackInterface {
    background-color: white;
    /* width: 200px; */
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: inset 0px 0px 8px 1px #878787;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.attackBar {
    border-radius: 10px;
    background: #e9e9e9;
    overflow: hidden;
    margin: 5px 5px 5px 5px;
    transition: all 0.3s ease-out;
}

.attackBar button {
    width: 100%;
    height: 100%;
    background: #ffffff00;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: inset 0px 0px 20px 0px #000000;

}

.attackBar:hover {
    transform: scale(1.07);
}