body {
    background-color: black;
    margin: 0;
}

#canvasCover {
    display: inline-block;
}

.flashAnimation {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: screenFlash;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.4, .97, .91, .75);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes screenFlash {

    0%,
    10%,
    20%,
    40% {
        opacity: 1;
    }

    5%,
    15%,
    25%,
    100% {
        opacity: 0;
    }
}

.fadeInAnimation {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOutAnimation {
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}